# ======================================
# Nette ================================
php:
	date.timezone: Europe/Prague
	# session.save_path: %tempDir%/session
	# zlib.output_compression: true

tracy:
	email: %project.error.email%
	strictMode: yes

# ======================================
# Default parameters ===================

parameters:
	project:
		error:
			email: webmaster@example.tld

# ======================================
# Default extensions ===================
extensions:
	resources: Contributte\DI\Extension\ResourceExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

resources:
	resources:
		App\Commands\:
			paths: [%appDir%/commands]

console:
	name: Cindy
	version: 1.0.0

# ======================================
# Services =============================
services:
